@font-face {
    font-family: TC Vidwrk;
    src: url(../fonts/TC\ Vidwrk.woff2);
}

body{font-family: sans-serif;
    width: 1280px;
}
header{
    background-color: #E9ECFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #000;
    width: 1280px;
    height: 81px;
}

h1{
    color: rgb(10, 10, 188) ;
    font-size: 116px;
    font-family: TC Vidwrk;
    line-height: 110%;
}
h2{
    font-weight: 700;
    font-size: 45px;
    line-height: 91%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #000;
}

.link{
    text-decoration: wavy;
}
header{
    background-color: #808CFD;
}
section{
    background-color: #E9ECFF;
}
.sectionWithInformation{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
}

.heroBcGround{
    background-color: #808CFD;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-bottom: 1px solid #000;
    padding-block: 20px;
    padding-inline: 20px;
    width: 1280px;
    height: 249px;
    max-width: 1920px;
}
#bookingSpot{
    background-color: #808CFD;
}
.heroBtn{
    border-radius: 7.25px;
}

.menu {
    display: inline-block;
}

.header_home {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 890px;
    width: 1240px;
    height: 41px;
}

.menu_items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 60px;
    width: 386px;
    height: 41px;
}


.reserveSpot{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 7px;
    border-radius: 7px;
    padding-block: 12px;
    padding-inline: 17px;
    width: 185px;
    height: 41px;
}


.imgForTheCommited img{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 854px;
    height: 480px;
}
.SectionH2{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 19px;
    padding-block: 20px 66px;
    padding-inline: 20px;
    width: 426px;
    height: 480px;
}

.SectionH2 h2{
    font-weight: 700;
    font-size: 45px;
}

.SectionH2 p{
    font-weight: 400;
    font-size: 17px;
}

.textLink{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    width: 375px;   
    height: 149px;
}
/* всего 4 основных семейства шрифтов Serif semi-serif
 Decorated Hand-writer, норм сайт для поиска шрифтов 1001 point только с впн,
  использовать только бесплатные шрифты
 при скачивание смотрим файл и лицензию */
 
 
